{% extends "layout.html" %}
{% block head %}
{{ super() }}
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <style>
        #recordingsList li{
        display:flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;
        padding-bottom: .5rem;}
    </style>
{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; row-gap: .5rem;">
    <!-- <audio controls autoplay playsinline></audio> -->
    <div><span id="recording" class="text-muted"><strong>STOPPED</strong></span>&nbsp; <span id="time-display">00:00</span></div>
  
    <div>
    <input type="button" value="record" id="btn-start-recording" class="btn btn-danger">
    <input type="button" value="stop" id="btn-stop-recording" class="btn btn-secondary">
</div>
</div>
    <div id="audio-blobs-container" ><hr>
        <!-- <a id="download">Download</a> -->
        <ol id="recordingsList">

        </ol>
    </div>
<script>
var constraints = {video:false, audio: true};
var recorder;
var $timeDisplay = $('#time-display');
var $recording = $('#recording');
var flag,interval;
var recordingsList = document.getElementById('recordingsList');
// var audio = document.querySelector('audio');
document.querySelector('#btn-start-recording').onclick=function(){navigator.mediaDevices.getUserMedia(constraints).then(handleUserMedia).catch(handleUserMediaError);
    this.classList.toggle('btn-danger');
    this.classList.toggle('btn-secondary');
    document.getElementById("btn-stop-recording").classList.toggle('btn-danger');
    document.getElementById("btn-stop-recording").classList.toggle('btn-secondary');
    $recording.toggleClass("text-danger");
  $recording.toggleClass("text-muted");
  $recording.html('<strong>RECORDING</strong>');
}
function stopRecordingCallback() {
    
    // audio.src = audio.srcObject = null;
    // audio.src = URL.createObjectURL(recorder.getBlob());
    // 下载
    createDownloadFile();
    // recorder.stream.stop();
    recorder.destroy();
    recorder = null;
}
function createDownloadFile(){
    var blob = recorder.getBlob();
    var url = URL.createObjectURL(blob);
    var au = document.createElement("audio");
    var li = document.createElement("li");
    var link = document.createElement("a");
    var filename = new Date().toISOString();
    au.controls = true;
    au.src = url;
    link.href = url;
    link.download = filename + ".wav";
    link.innerHTML = link.download;
    li.appendChild(au);
    var upload = document.createElement("button");
    upload.innerHTML = "Upload";
    upload.classList.add("btn");
    upload.classList.add("btn-primary");
    upload.addEventListener("click", function (event) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function (e) {
      if (this.readyState === 4) {
        console.log("Server returned: ", e.target.responseText);
      }
    };
    var fd = new FormData();
    fd.append("audio_data",blob , filename);
    xhr.open("POST", "/record", true);
    xhr.send(fd);
    window.location.href = "/direction";
  });
    li.appendChild(document.createTextNode(" "));
    li.appendChild(upload);
    recordingsList.appendChild(li);

    // var link=document.getElementById('download');
    // link.download = "audio.wav";
    // link.href = URL.createObjectURL(recorder.getBlob());
    // link.click();
}
function calculateTimeDuration(secs) {
    let hr = Math.floor(secs / 3600);
    let min = Math.floor((secs - (hr * 3600)) / 60);
    let sec = Math.floor(secs - (hr * 3600) - (min * 60));

    if (min < 10) {
        min = "0" + min;
    }

    if (sec < 10) {
        sec = "0" + sec;
    }

    if(hr <= 0) {
        return min + ':' + sec;
    }

    return hr + ':' + min + ':' + sec;
}

function handleUserMedia(stream) {
    
    // audio.srcObject = stream;

    // recording
    flag = true;
    recorder = RecordRTC(stream, {
        
        recorderType: StereoAudioRecorder,
            mimeType: 'audio/wav',
            sampleRate: 48000
    });
    
    recorder.startRecording();
    let dateStarted = new Date().getTime();
      
      var updateDateTime = ()=> {
        if(flag){
        $timeDisplay.html(calculateTimeDuration((new Date().getTime() - dateStarted) / 1000));
        }
      };
      
      interval = window.setInterval(updateDateTime, 1000);
}
function handleUserMediaError(error) {
    
    alert("Unable to capture your camera. Please check console logs.");
    console.log(error);
}
document.getElementById("btn-stop-recording").onclick=function (){
    
    // this.disabled = true;
    flag=false;
    clearInterval(interval);
    $timeDisplay.html('00:00');
    recorder.stopRecording(stopRecordingCallback);
    this.classList.toggle('btn-danger');
    this.classList.toggle('btn-secondary');
    document.querySelector('#btn-start-recording').classList.toggle('btn-danger');
    document.querySelector('#btn-start-recording').classList.toggle('btn-secondary');
    $recording.html('<strong>STOPPED</strong>');
  $recording.toggleClass("text-danger");
  $recording.toggleClass("text-muted");
}
</script>    
<script src="https://www.webrtc-experiment.com/common.js"></script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}